/*SIDE BAR COMPONENT*/

*{
  margin:0;
  padding:0;
  text-decoration: none;
}

.container{
  display: flex;
}

main{
  width: 100%;
  padding: 20px;
}

.sidebar{
  background: white;
  color: #000;
  height: 100vh;
  width: 250px;
  transition: all 0.5s;
}

.top_section{
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.logo img{
  height: 60px;
  width: 120px;
}

.bars{ 
  display: flex;
  font-size: 25px;
}

.link{
  display: flex;
  color: #000;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover{
  background: lightgrey;
  color: #000;
  transition: all 0.5s;
}

.sidebar-active{
  background: lightgray;
  color: black;
}

.icon, .link_text{
  font-size: 20px;
}

/*-----TOP BAR COMPONENT-----*/
.logo-link{
  width: 120px;
  height: 70px;
  position: relative;
  top: 15px;
  left: 15px;
}

.topbar-container{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
}

.topbar-right{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.topbar-link{
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  top: 15px;
  right: 50px;
}

.topbar-active{
  background: white;
  color: black;
}

/*-----HOME PAGE-----*/

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.header-left-side, .header-right-side {
  display: flex;
  flex: 1;
}

.header-left-side {
  display: flex;
  padding: 1rem 0 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.header-content {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

.header-content h1 {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 55px;
  letter-spacing: 0.03em;
  color: #212121;
}

.header-content p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #666666;
  width: 70%;
}

.btn1{
  padding: 1rem 1.5rem;
  font-size: 1rem;
  background-color: #353535;
}

.btn2{
  padding: 1rem 1.5rem;
  font-size: 1rem;
  background-color: lightgrey;
  color: black;
  margin-left: 100px;
}

.header-circle {
  width: 600px;
  height: 600px;
  border-radius: 50%;
}

.header-circle .header-img {
  position: relative;
  right: 70px;
  padding: 20px 0;
}

/*-----UNITY APP PAGE-----*/

.unity-app{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

/*-----LOGIN AND REGISTER PAGE------*/

.auth-form-container{
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
} 

.login-form, .register-form{
  display: flex;
  flex-direction: column;
}

.label{
  text-align: left;
  padding: 0.25rem 0;
}

input{
  margin: 0.5rem 0;
  padding: 1rem;
  border-color: black;
  border-radius: 10px;
}

button{
  border: none;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.link-button{
  font-size: 0.8rem;
  background: none;
  color: black;
  text-decoration: underline;
}

.welcome-back{
  font-size: 20px;
  position: relative;
  bottom: 40px;
}

/*-----NEW ARRIVALS-----*/

.Allproducts-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  justify-items: center;
  grid-gap: 4rem;
}

.Allproducts-title{
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 55px;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 0rem 2rem 2rem;
}

.Allproduct-card {
  width: 250px;
}

.Allproduct-logo {
  display: block;
  padding: 0.2rem;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 38px;
}

.Allproduct-imgcontainer{
  display: flex;
  align-items: center;
  justify-content: center ;
  width: 250px;
  height: 350px;
}

.Allproduct-img {
  max-width: 250px;
  max-height: 350px;
}

.Allproduct-name, .Allproduct-price {
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #212121;
}

.Allproduct-name {
  font-size: 1.05rem;
  margin-top: 0.5rem;
}

.Allproduct-tags {
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  color: #888888;
  margin-top: 0.5rem;
}

.Allproduct-price {
  font-size: 1.25rem;
  margin-top: 1rem;
}

/*-----------SALE-----------*/

.Saleproduct-sign{
  position: relative;
  top: 5px;
  background-color: rgb(255, 75, 75);
  border-radius: 4rem;
  color:white;
  width: 50px;
  text-align: center;
}

.Saleproduct-pricecontainer{
  display: grid;
  width: 100px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.Presaleproduct-price{
  font-size: 1.25rem;
  margin-top: 1rem;
  text-decoration: line-through;
  color: black;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.Saleproduct-price{
  font-size: 1.25rem;
  margin-top: 1rem;
  color: rgb(255, 75, 75);
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/*-----BEST SELLER-----*/ 

.Bestproduct-sign{
  position: relative;
  top: 5px;
  background-color: rgb(255, 75, 75);
  border-radius: 4rem;
  color:white;
  width: 100px;
  text-align: center;
}

/*-----SINGLE PRODUCT PAGE-----*/

.products {
  background-color: #FCFCFC;
}
.product-detail-container {
  display: flex;
  justify-content: space-between;
}
.product-images {
  display: flex;
  flex: 2;
  gap: 2rem;
}
.big-image-container {
  width: 100%;
  height: 100%;
  max-width: 550px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.big-image-container img {
  width: 100%;
  height: 100%;
}
.small-images-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.small-image{
  width: 70px;
  height: 100px;
  cursor: pointer;
}
.product-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2.5rem;
  margin-top: 4rem;
}
.product-details h3 {
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #212121;
}
.name-and-category span {
  font-weight: 600;
  font-size: 1.3rem;
  opacity: 0.3;
}
.presale-price{
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #212121;
  text-decoration-line: line-through;
}
.sale-price{
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: rgb(255, 75, 75);
}
.size p, .size li {
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 16px;
  letter-spacing: 0.05em;
}
.size p {
  color: #212121;
}
.size ul {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.sizebutton {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  color: #666666;
  background-color: white;
  border: 1.5px solid black;
}
.sizebutton:focus{
  background-color: black;
  color: white;
}
.quantity-desc {
  display: flex;
  gap: 2rem;
}
.minus, .plus {
  border-radius: 50%;
  padding: 5px 8px;
  cursor: pointer;
}
.minus {
  margin-right: 10px;
  border: 2px solid #F1F1F1;
  background-color: #F1F1F1;
}
.plus {
  margin-left: 10px;
  border: 2px solid black;
}
.add-to-cart {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.add-to-cart .btn {
  font-size: 1rem;
  width: 40%;
}
.add-to-cart{
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #212121;
}
.paynowbtn{
  font-size: 1rem;
  width: 100%;
  background-color:rgb(255, 75, 75);
}

/*-----CART PAGE-----*/

.cart-wrapper {
  padding: 3rem;
}
.cart-container {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
.order-summary {
  padding: 2rem;
  background: #FBFCFF;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
}
.order-summary div {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
.order-summary .btn {
  width: 100%;
}
.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-items {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 4rem;
  flex: 3;
}
.name-and-remove {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.remove-item {
  position: relative;
  bottom: 20px;
  color: black;
  background-color: white;
}
.item-card {
  display: flex;
  gap: 2rem;
}
.item-image {
  max-width: 200px;
  max-height: 250px;
  border-radius: 9px;
}
.item-image img {
  width: 100%;
  height: 100%;
  border-radius: 9px;
}
.item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
}
.item-details h3 {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 25px;
  color: #212121;
}
.item-tag, .delivery-est, .delivery-days {
  font-weight: 600;
  font-size: 1rem;
  line-height: 0px;
  color: #212121;
}
.item-tag {
  position: relative;
  bottom: 60px;
  line-height: 16px;
  color: #666666;
}
.delivery-days {
  position: relative;
  bottom: 10px;
  color: #FFC700;
}
.price-and-qty {
  display: flex;
  justify-content: space-between;
}
.price-and-qty .price {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #212121;
}
.price-and-qty .minus, .price-and-qty .plus {
  padding: 3px 5px;
} 

.checkoutbtn-container{
  display: flex;
  flex-direction: column;
}

.avatarbtn {
  padding: 0.5rem;
  font-size: 1.3rem;
  width: 100%;
  background-color: rgb(255, 75, 75);
}

.checkoutbtn{
  position: relative;
  bottom: 50px;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.3rem;
}

/*-----PROFILE SIDEBAR-----*/

.profile-sidebar{
  position: relative;
  background: white;
  color: black;
  height: 100vh;
  width: 300px;
  transition: all 0.5s;
  top: 50px;
  left: 50px;
  border: solid lightgrey;
  border-radius: 20px;
}

.profilepic-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

.profilepic-container p{
  position: relative;
  top: 20px;
  font-weight: 500;
  font-size: 18px;
}

.profilepic{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/*-----MY PROFILE PAGE-----*/

.myprofile-container{
  display: flex;
  flex-direction: row;
}

/*-----MY MEASUREMENT PAGE-----*/

.mymeas-container{
  display: flex;
  flex-direction: row;
}

.toggle-container{
  position: relative;
  top: 50px;
}

.allmeasurements{
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  top: 50px;
}

.measurement-desc {
  display: flex;
  gap: 2rem;
}

/*-----SELLER HOME PAGE-----*/

.seller-container{
  position: relative;
  top: 50px;
}

.section-head{
  font-size: 25px;
  font-weight: 500;
}

.section-desc{
  color: rgb(131, 131, 131);
  font-size: 15px;
  padding-top: 5px;;
}

.task-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding-top: 50px;
  padding-bottom: 50px;
}

.task{
  margin: auto;
  text-align: center;
}

.task-num{
  color: lightskyblue;
}

.bizinsight{
  padding-top: 50px;
  padding-bottom: 50px;
}

/*-----SELLER PRODUCT-----*/

.shopeeproduct{
  width: 850px;
  height: 270px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.product-name{
  display: flex;
  flex-direction: row;
}

.product-desc{ 
  width: 200px;
  padding: 1rem;
  position: relative;
  text-align: right;
}

.product-desc-large{ 
  width: 200px;
  padding: 1rem;
  position: relative;
  text-align: right;
}

.product-input{
  width: 500px;
  height: 20px;
  font-size: 18px;
  border: solid rgb(170, 170, 170);
  border-width: 2px;
  padding: 0.8rem;
}

.product-input::placeholder{
  opacity: 0.5;
}

.product-input-large{
  width: 500px;
  height: 300px;
  border: solid rgb(170, 170, 170);
  border-width: 2px;
  padding: 0.8rem;
  font-size: 18px;
  border-radius: 10px;;
}

.savepublish{
  float: right;
  margin-top: 20px;
  margin-right: 85px;
  font-size: 16px;
  padding: 0.7rem 1rem;
  background-color: rgb(214, 59, 3);
}

/*------MARKETING PAGE-----*/

.marketing-head{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 40px;
}

.marketing-subcontainer{
  display: flex;
  flex-direction: row;
}

.marketing-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 1.5rem 1rem;
  margin-bottom: 20px;;
}

.marketing-desc{
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.marketing-icon{
  font-size: 40px;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.4rem 0.5rem;
}

.marketing-title{
  font-size: 16px;
  font-weight: 500;
}

.marketing-label{
  font-size: 14px;
  font-weight: 500px;
  color:rgb(150, 150, 150);
}

/*-----VIDEO PLAYER-----*/

.videoplayer{
  width: 100px;
}

/*-----CHECKOUT PAGE1-----*/

.checkout-container{
  padding: 3rem;
}

.checkout-subcontainer{
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.shipping-container{
  padding: 2rem;
  border: solid rgb(170, 170, 170);
  width: 530px;
  border-width: 2px;
  margin-left: 30px;
}

.checkout-title{
  font-size: 30px;
}

.checkout-step{
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.info-container{
  display: flex;
  flex-direction: column;
}

.info-name{ 
  width: 200px;
  position: relative;
  text-align: left;
}

.info-input{
  width: 500px;
  height: 20px;
  font-size: 18px;
  border: solid rgb(170, 170, 170);
  border-width: 2px;
  padding: 0.5rem;
}

.address-container{
  display: grid;
  width: 500px;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.info-input-small{
  width: 220px;
  height: 20px;
  font-size: 18px;
  border: solid rgb(170, 170, 170);
  border-width: 2px;
  padding: 0.5rem;
}

.info-divide{
  height: 1px;
  width: 515px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: black;
}

.checkout-summary{
  padding: 2rem;
  background: #FBFCFF;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.5rem;
  max-width: 350px;
}

.checkout-summary div {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
.checkout-summary .btn {
  width: 100%;
}

.paymentbtn{
  float: right;
  padding: 0.8rem;
  font-size: 15px;
  margin-top: 10px;
  margin-right: 10px;
}

/*-----CHECKOUT PAGE2-----*/

.radiobtn{
  margin-left: 30px; 
}

.option{
  display: flex;
  flex-direction: row;
}

.paymentlogo{
  font-size: 30px;
}

/*-----CHECKOUT PAGE 3-----*/

.paymentsuccess{
  margin-left: 30px;
}